{{#section 'css'}}
{{/section}}

{{#section 'js'}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="https://cdn.tiny.cloud/1/wafynfll6yk0et81pwlvcwdx6r76d4pl4gy3397p9126dmzm/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
{{!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> --}}
<script>
      tinymce.init({
        selector: '#txtDescription',
        height: 200,
        plugins:'paste image link autolink lists table media',
        menubar: false,
        toolbar: ['undo redo | fontselect fontsizeselect | bold italic underline strikethrough | numlist bullist alignleft aligncenter alignright | forecolor  backcolor | table link image media'
        ],
        fontsize_formats: '10pt 12pt 14pt 16pt 18pt 24pt 36pt',
        elementpath: false,
        icons: 'material',
        placeholder: 'writing description here...',
      });
</script>
<script>
  $('#frmCourse').on('submit', function (e) {
    e.preventDefault();
    const nameCourse=$('#txtNameCourse').val();
    const title=$('#txtTitle').val();
    let Price=$('#txtPrice').val();
    if(nameCourse.length === 0 || title.length === 0 || Price.length === 0){
       Swal.fire({
        icon: 'error',
        text: 'Empty data.',
      })
      return;
    }
    if(isNaN(Price)){
      Swal.fire({
      icon: 'error',
      text: 'not a number at Price data.',
    })
    return;
    }
      if(Price<=0 || Price >999){
       Swal.fire({
        icon: 'error',
        text: 'the amount is too large. Please re-write.',
      })
      return;
     }
     $('#frmCourse').off('submit').submit();
  });
</script>
<script>
$('#domain').on('change', function() {
    let selected = $(this).val();
    $("#categories option").each(function(){
        let element =  $(this) ;
        if (element.data("tag") != selected){
            element.removeClass('visible');
            element.addClass('hidden');
            element.hide() ;
        }else{
            element.removeClass('hidden');
            element.addClass('visible');
            element.show();
        }
    });
    let categories = $('#categories');
    categories.prop('selectedIndex',categories.find("option.visible:eq(0)").index());
}).triggerHandler('change');
</script>
{{/section}}

     <div class="container-fluid pt-4 px-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h4 class="mb-4">Add New Course</h4>
                        <form action="" method="post" id="frmCourse">
                                <div class="mb-3">
                                    <label  for="txtNameCourse" class="form-label">Name of the course</label>
                                    <input type="text" class="form-control" id="txtNameCourse"
                                     name="nameCourse" placeholder="" autofocus>
                                </div>
                                 <div class="mb-3">
                                  <div class="mb-3">
                                     <label  for="txtNameCourse" class="form-label">Choose the header category Of the course : </label>
                                    <select name="headerCategory" id="domain">
                                        {{#each listOfHeaderCategory}}
                                          <option value="{{Id}}">{{HeaderNameCategory}}</option> 
                                        {{/each}}
                                     </select>
                                  </div >
                                  <div class="mb-3">
                                         <label  for="txtNameCourse" class="form-label">Choose the category Of the course : </label>
                                      <select name="category" id="categories">
                                        {{#each listOfCategory}}
                                        <option value="{{Id}}" data-tag="{{HeaderCategoryID}}">{{NameCategory}}</option>
                                          
                                        {{/each}}
                                      </select>
                                  </div>
                                     </div>
                                     <div class="mb-3">
                                    <label  for="txtTitle" class="form-label">Course Ttitle</label>
                                    <input type="text" class="form-control" id="txtTitle" name="title" placeholder="what you want to share with everybody?">
                                </div>    
                                  <div class=" mb-3">
                                    <label  for="txtDescription" class="form-label">Description of the course</label>
                                    <textarea  name="Description" id="txtDescription" class="form-control" rows="2"></textarea>
                                </div>  

                                  <div class="mb-3">
                                    <label   for="txtPrice" class="form-label">How much do you want to post this course?</label>
                                    <input type="text" class="form-control" id="txtPrice" name="Price" placeholder="$5.00">
                                </div>                              
                                <button type="submit" class="btn btn-primary"> Create new course</button>
                            </form>
                        </div>
                    </div>
                    </div>
                 